<h1 class="blue-grey-text"> <%= @reading.title %> </h1>

<h4 class="blue-grey-text"> <%= @reading.category.name %> </h4>

<p><%= @reading.summary %></p>

<p><%= @reading.content %></p>

<p><%= @reading.subtitle %></p>
